<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="shortcut icon" href="\img\dice.ico" type="image/x-icon">
    <link href="\css\app.css" rel="stylesheet">
    <link href="\css\auth.css" rel="stylesheet">
</head>
<script>
    let check = function () {
        if (document.getElementById('password').value ===
            document.getElementById('confirm_password').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'Пароли совпадают';
            document.getElementById('submit').disabled = false;
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Пароли не совпадают';
            document.getElementById('submit').disabled = true;
        }
    }
</script>
<body background="\img\back.png">

<header>
    <p class="text1">Регистрация</p>
</header>
<div class="container">
    <div class="image">
        <img src="\img\dice2.png" width="150px">
    </div>

    <form class="form-container" th:method="POST" th:action="@{/auth/registration}" th:object="${gameUser}">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" th:field="*{username}" id="username" placeholder="логин">
            <label for="username">Введите логин</label>
            <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="имя">
            <label for="username">Введите имя</label>
            <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error
            </div>
        </div>
        <br>
        <div class="form-floating">
            <input type="password" class="form-control" th:field="*{password}" id="password" placeholder="пароль"
                   onkeyup='check();'>
            <label for="password">Введите пароль</label>
        </div>
        <br>
        <div class="form-floating">
            <input type="password" class="form-control" id="confirm_password" placeholder="confirm_password"
                   onkeyup='check();'>
            <span id='message'></span>
            <br>
            <label for="password">Повторите пароль</label>
        </div>
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        <br>
        <div class="after_form_buttons">
            <input class="btn btn-warning" type="submit" id="submit" value="Создать"/>
            <a onclick href="/auth/login" class="btn btn-warning">Вход</a>
        </div>
    </form>
</div>
</body>
</html>