
.place_images{
    padding-left: 600px;
    padding-top: 100px;
}
.score_name{
    justify-content: center;
    align-items: center;
    height: auto;
    margin-right: 5vh;
    margin-left: 7vh;

    margin-top: 10vh;
    display: inline-block;
    font-weight: bold;
}
.score_place{
    justify-content: center;
    display: inline-block;
}
.input-game {
    margin: 10px 0;
}
.p-game {
    font-size: 17px;
    display: flex;
    font-weight: bold;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
}
.modal-content {
    background-color: #f5e7c3;
    padding: 20px;
    border: 1px solid #888;
    width: 25rem;
}
.ok-not-buttons {
    display: flex;
    gap: 25px;
}
.delete {
    background-color: antiquewhite;
}

.delete-text {
    font-size: 20px;
}