header{
    padding: 10px;
    background: #fceabb;
    background: -moz-linear-gradient(left,  #fceabb 0%, #f8b500 83%, #fccd4d 97%, #fbdf93 100%);
    background: -webkit-linear-gradient(left,  #fceabb 0%,#f8b500 83%,#fccd4d 97%,#fbdf93 100%);
    background: linear-gradient(to left,  #fceabb 0%,#f8b500 83%,#fccd4d 100%,#fbdf93 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 );


}
.container{
    padding-left: 450px;
    padding-top: 70px;
}
.btn btn-warning{

    right:5px;
    left:4px;
    top:2px;
    bottom:4px;
    font-weight: bold;
}
.place_images{
    padding-left: 600px;
    padding-top: 100px;
}
.text1{
    font-size:30px;
    font-weight:lighter;
    color: #2c3034;
}
.score_name{
    justify-content: center;
    align-items: center;
    height: auto;
    margin-right: 5vh;
    margin-left: 7vh;

    margin-top: 10vh;
    display: inline-block;
    font-weight: bold;
}
.score_place{
    justify-content: center;
    display: inline-block;
}

.header_message{
    float: left;
    width: 92%;

}
.form{
    display: flex;
    flex-direction: column;
}

.addDeleteGameForm{
    border: 1px silver;
    box-shadow:5px 5px 5px #babbbc;
    background-image: url("../img/filter_back15.png");
    border-radius: 15px;
    width: fit-content;
    padding: 5%;
    margin-top: 2%;
    align-self: center;

}

.header-box{
    display: flex;
    width: 98%;
    justify-content: space-between;
}