body {
    overflow: hidden;
}
section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.illustration {
    display: block;
    position: relative;
    width: auto;
    height: 75%;
    margin: 0 auto;
    top: 15%;
}
.hover {
    width: 100%;
    height: 100%;
    animation: hover 5s ease-in-out infinite;
    animation-fill-mode: forwards;
}
.number-one {
    transform: translateY(-10px) translateZ(0);
    opacity: 0;
    animation: fadeNumberDown-10 2180ms ease-in-out infinite;
    animation-fill-mode: forwards;
}
.number-two {
    transform: translateY(-20px) translateZ(0);
    opacity: 0;
    animation: fadeNumberDown-20 5281ms ease-in-out infinite;
    animation-delay: 5802ms;
    animation-fill-mode: forwards;
}
.number-three {
    transform: translateY(-30px) translateZ(0);
    opacity: 0;
    animation: fadeNumberDown-30 5841ms ease-in-out infinite;
    animation-delay: 2683ms;
    animation-fill-mode: forwards;
}
.number-four {
    transform: translateY(-50px) translateZ(0);
    opacity: 0;
    animation: fadeNumberDown-50 4636ms ease-in-out infinite;
    animation-delay: 417ms;
    animation-fill-mode: forwards;
}
.number-five {
    transform: translateY(-60px) translateZ(0);
    opacity: 0;
    animation: fadeNumberDown-60 5205ms ease-in-out infinite;
    animation-delay: 4089ms;
    animation-fill-mode: forwards;
}
.number-six {
    transform: translateY(-70px) translateZ(0);
    opacity: 0;
    animation: fadeNumberDown-70 4133ms ease-in-out infinite;
    animation-delay: 2486ms;
    animation-fill-mode: forwards;
}
.number-seven {
    transform: translateY(-80px) translateZ(0);
    opacity: 0;
    animation: fadeNumberDown-80 4722ms ease-in-out infinite;
    animation-delay: 3902ms;
    animation-fill-mode: forwards;
}
.number-eight {
    transform: translateY(-90px) translateZ(0);
    opacity: 0;
    animation: fadeNumberDown-90 4045ms ease-in-out infinite;
    animation-delay: 1792ms;
    animation-fill-mode: forwards;
}
.number-nine {
    transform: translateY(-100px) translateZ(0);
    opacity: 0;
    animation: fadeNumberDown-100 4513ms ease-in-out infinite;
    animation-delay: 4944ms;
    animation-fill-mode: forwards;
}
.number-ten {
    transform: translateY(-110px) translateZ(0);
    opacity: 0;
    animation: fadeNumberDown-110 3709ms ease-in-out infinite;
    animation-delay: 5675ms;
    animation-fill-mode: forwards;
}
.number-eleven {
    transform: translateY(-120px) translateZ(0);
    opacity: 0;
    animation: fadeNumberDown-120 5556ms ease-in-out infinite;
    animation-delay: 3246ms;
    animation-fill-mode: forwards;
}
.number-twelve {
    transform: translateY(-150px) translateZ(0);
    opacity: 0;
    animation: fadeNumberDown-150 3746ms ease-in-out infinite;
    animation-delay: 5897ms;
    animation-fill-mode: forwards;
}
.number-thirteen {
    transform: translateY(-160px) translateZ(0);
    opacity: 0;
    animation: fadeNumberDown-160 2901ms ease-in-out infinite;
    animation-delay: 5673ms;
    animation-fill-mode: forwards;
}
@keyframes hover {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-3px);
    }
    75% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes fadeNumberDown-10 {
    0% {
        transform: translateY(-10px) translateZ(0);
        opacity: 0;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.4;
    }
    100% {
        transform: translateY(140px) translateZ(0);
        opacity: 0;
    }
}
@keyframes fadeNumberDown-20 {
    0% {
        transform: translateY(-20px) translateZ(0);
        opacity: 0;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.4;
    }
    100% {
        transform: translateY(140px) translateZ(0);
        opacity: 0;
    }
}
@keyframes fadeNumberDown-30 {
    0% {
        transform: translateY(-30px) translateZ(0);
        opacity: 0;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.4;
    }
    100% {
        transform: translateY(130px) translateZ(0);
        opacity: 0;
    }
}
@keyframes fadeNumberDown-50 {
    0% {
        transform: translateY(-50px) translateZ(0);
        opacity: 0;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.4;
    }
    100% {
        transform: translateY(110px) translateZ(0);
        opacity: 0;
    }
}
@keyframes fadeNumberDown-60 {
    0% {
        transform: translateY(-60px) translateZ(0);
        opacity: 0;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.4;
    }
    100% {
        transform: translateY(90px) translateZ(0);
        opacity: 0;
    }
}
@keyframes fadeNumberDown-70 {
    0% {
        transform: translateY(-70px) translateZ(0);
        opacity: 0;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.4;
    }
    100% {
        transform: translateY(80px) translateZ(0);
        opacity: 0;
    }
}
@keyframes fadeNumberDown-80 {
    0% {
        transform: translateY(-80px) translateZ(0);
        opacity: 0;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.4;
    }
    100% {
        transform: translateY(80px) translateZ(0);
        opacity: 0;
    }
}
@keyframes fadeNumberDown-90 {
    0% {
        transform: translateY(-90px) translateZ(0);
        opacity: 0;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.4;
    }
    100% {
        transform: translateY(60px) translateZ(0);
        opacity: 0;
    }
}
@keyframes fadeNumberDown-100 {
    0% {
        transform: translateY(-100px) translateZ(0);
        opacity: 0;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.4;
    }
    100% {
        transform: translateY(60px) translateZ(0);
        opacity: 0;
    }
}
@keyframes fadeNumberDown-110 {
    0% {
        transform: translateY(-110px) translateZ(0);
        opacity: 0;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.4;
    }
    100% {
        transform: translateY(30px) translateZ(0);
        opacity: 0;
    }
}
@keyframes fadeNumberDown-120 {
    0% {
        transform: translateY(-120px) translateZ(0);
        opacity: 0;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.4;
    }
    100% {
        transform: translateY(20px) translateZ(0);
        opacity: 0;
    }
}
@keyframes fadeNumberDown-150 {
    0% {
        transform: translateY(-150px) translateZ(0);
        opacity: 0;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.4;
    }
    100% {
        transform: translateY(10px) translateZ(0);
        opacity: 0;
    }
}
@keyframes fadeNumberDown-160 {
    0% {
        transform: translateY(-160px) translateZ(0);
        opacity: 0;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.4;
    }
    100% {
        transform: translateY(10px) translateZ(0);
        opacity: 0;
    }
}
.background {
    background-image: linear-gradient(#ff9007 0%, #ffc107 85%, #ffe500 100%);
}

@media screen and (max-width: 600px){
    .illustration {
        height: 55%;
    }
}
@media screen and (max-width: 500px){
    .illustration {
        height: 45%;
    }
}
@media screen and (max-width: 400px){
    .illustration {
        height: 35%;
    }
}
