.body1{

    display: flex;
    flex-direction: column;
}
.main_form{
    align-self: center;
    align-items: center;
    border: 1px silver;
    box-shadow:5px 5px 5px #babbbc;
    background-image: url("../img/filter_back15.png");
    border-radius: 15px;
    width: fit-content;
    padding: 5%;
    margin-top: 2%;
}
header{
    padding: 1%;
    background: #fceabb;
    background: -moz-linear-gradient(left,  #fceabb 0%, #f8b500 83%, #fccd4d 97%, #fbdf93 100%);
    background: -webkit-linear-gradient(left,  #fceabb 0%,#f8b500 83%,#fccd4d 97%,#fbdf93 100%);
    background: linear-gradient(to left,  #fceabb 0%,#f8b500 83%,#fccd4d 100%,#fbdf93 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 );
    height: 4%;


}
btn btn-warning{

    right:5px;
    left:4px;
    top:2px;
    bottom:4px;
    font-weight: lighter;
}
.closeModal {
    position: absolute;
    display: inline-block;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity ease 0.5s;}


.closeModal::before,
.closeModal::after {
    content: '';
    position: absolute;
    top: 5px;
    display: block;
    width: 24px;
    height: 3px;
    background: #000;
}

.closeModal::before {
    transform: rotate(45deg);
}

.closeModal::after {
    transform: rotate(-45deg);
}
.text1{
    font-size:30px;
    font-weight:lighter;
    color: #2c3034;
    display: inline-block;
}
.home_button{

}

.header-box{
    display: flex;
    width: 98%;
    justify-content: space-between;
}