.mainCard {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}
.body{
    display: flex;
    flex-direction: column;
}
.updateButton {
    align-self: flex-start;
}