header{
    padding: 1%;
    background: #fceabb;
    background: -moz-linear-gradient(left,  #fceabb 0%, #f8b500 83%, #fccd4d 97%, #fbdf93 100%);
    background: -webkit-linear-gradient(left,  #fceabb 0%,#f8b500 83%,#fccd4d 97%,#fbdf93 100%);
    background: linear-gradient(to left,  #fceabb 0%,#f8b500 83%,#fccd4d 100%,#fbdf93 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 );
    height: 4%;


}
.container{
    padding-left: 450px;
    padding-top: 70px;
}
.btn btn-warning{

    right:5px;
    left:4px;
    top:2px;
    bottom:4px;
    font-weight: bold;
}

.text1{
    font-size:30px;
    font-weight:lighter;
    color: #2c3034;
}
.score_name{
    justify-content: center;
    align-items: center;
    height: auto;
    margin-right: 5vh;
    margin-left: 7vh;

    display: inline-block;
    font-weight: bold;
}
.score_place{
    justify-content: center;
    display: inline-block;

}
.filter {
    flex-direction: column;
    width: fit-content;
    position: absolute;
    left: 0;
    background-image: url("../img/filter_back15.png");
    font-weight:normal;
    font-size: large;
    padding: 40px 10px 30%;



}
.header-box{
display: flex;
    width: 98%;
    justify-content: space-between;
}

.add_game_button{
    margin-left: 8%;
    margin-right: 8%;
}
.place_images{
    float: left;
    width: 2%;
    height: 100%;
    margin-top: 13%;
}
.img_and_places{
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: auto;
}
.places{
    align-items: center;
    height: 100%;
    margin-top: 15%;
}
.filter_score{
    display: flex;

}
.place_img{
    padding-bottom: 50%;
}
.places_and_button{
    margin-top: 3.5%;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 768px){
   .filter{
       position: relative;
   }
    .place_images{
        display: none;
    }
    .places{
        align-items: flex-start;
        height: 100%;

    }
    .score_name{
        margin-right: 1vh;
        margin-left: 2vh;
    }
    .places_and_button{
        margin-top: auto;
    }
    .img_and_places{
        display: block;
    }
    .btn-warning{
        margin-bottom: 2%;
    }
}


