

.btn btn-warning{

    right:5px;
    left:4px;
    top:2px;
    bottom:4px;
    font-weight: bold;
}

.score_name{
    justify-content: center;
    align-items: center;
    height: auto;
    margin-right: 5vh;
    margin-left: 7vh;

    display: inline-block;
    font-weight: bold;
}
.score_place{
    justify-content: center;
    display: inline-block;

}
.filter {
    flex-direction: column;
    width: fit-content;
    position: absolute;
    height: 100%;
    background-image: url("../img/filter_back15.png");
    font-size: large;
    padding: 40px 10px 30%;



}

.add_game_button{
    margin-left: 8%;
    margin-right: 8%;
}
.place_images{
    float: left;
    width: 2%;
    height: 100%;
    margin-top: 13%;
}
.img_and_places{
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: auto;
}
.places{
    align-items: center;
    height: 100%;
    margin-top: 15%;
}
.filter_score{
    display: flex;

}
.place_img{
    padding-bottom: 50%;
}
.places_and_button{
    margin-top: 3.5%;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 768px){
   .filter{
       position: relative;
   }
    .place_images{
        display: none;
    }
    .places{
        align-items: flex-start;
        height: 100%;

    }
    .score_name{
        margin-right: 1vh;
        margin-left: 2vh;
    }
    .places_and_button{
        margin-top: auto;
    }
    .img_and_places{
        display: block;
    }
}


